*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    cursor: default;
}
li{
    list-style: none;
}
#wrapper{
    position: relative;
    width: 400px;
    height: 300px;
    left: 100px;
    top: 100px;
    border: 2px solid rgb(201, 111, 111);
    overflow: hidden;
}
#wrapper #img-lunbo{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 300px;
}
#img-lunbo li{
    float: left;
    width: 400px;
    height: 300px;
}
#img-lunbo li img{
    width: 400px;
    height: 300px;
}
#wrapper #img-num{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
#img-num li{
    float: left;
    margin-left: 10px;
    background-color: gray;
    border-radius: 100%;
}
#img-num li a{
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    line-height: 20px;
    border-radius: 100%;
    cursor: pointer;
}
.current{
    background-color: red;
}
#wrapper #toggle-btn{
    /* display: none; */
}
#toggle-btn .prev,#toggle-btn .next{
    position: absolute;
    display: block;
    width: 50px;
    height: 100px;
    background-color: rgba(0,0,0,0.6);
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    line-height: 100px;
    top: 50%;
    margin-top: -50px;

}
#toggle-btn .prev{
    left: 0px;
}
#toggle-btn .next{
    right: 0px;
}